/* You can add global styles to this file, and also import other style files */
@keyframes squareDrop {
  50% {
    transform: translate(0, 0) rotate(-5deg);
  }
  75% {
    transform: translate(0, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "Righteouse";
  src: url("../fonts/Righteous-Regular.ttf");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI.ttf");
}
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  color: #ffffff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(145deg, #262744, #252c48, #24314b, #24354e, #253a50);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  border: 0;
  outline: 0;
  font: inherit;
}

button, select {
  cursor: pointer;
}

app-root, app-components {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button, select {
  height: 60px;
  width: 100%;
  background-color: #35496f;
  border-radius: 10px;
  color: #ffffff;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border: 1px solid transparent;
}

button:active {
  transition: transform 0.3s ease-in-out;
  transform: scale(0.9);
}

/*# sourceMappingURL=styles.css.map */
